@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"] Me</h2>


<div id="contact-pane">
    <p>Cullen Glassner</p>
    <p><a href="mailto:cullen.glassner@gmail.com">cullen.glassner@gmail.com</a></p>
    <p><a href="https://github.com/cullenglassner/ApiPinger">GitHub source</a></p>
</div>
