@{
    ViewData["Title"] = "Zillow API";
}

<div>.</div>
<div>.</div>
<div>.</div>
<div>.</div>
<div class="col-md-4 col-md-offset-4">
    <form class="full-page-form">
        <label for="api-query">API Query: </label>
        <input type="text" id="api-query" placeholder="API Query" />
        <input type="submit" value="Send" />
    </form>
</div>